.post {
  margin-bottom: 1.5rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.5rem 1rem;
  background-color: white;

  .overlay {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 3.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    backdrop-filter: blur(2px) contrast(0.8);
    transform: scale(0);

    &.reveal {
      transform: scaleY(0.01) scaleX(0);
      animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      &.hide {
        transform: scale(1);
        animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .user_profile {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2c2c54;

        .profilePic {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }

      .username {
        font-size: 0.875rem;
        margin-right: 0.6rem;
        font-weight: 600;
        cursor: pointer;
      }

      .time {
        font-size: 0.75rem;
        color: rgb(85, 84, 84);
      }
    }

    .right {
      display: flex;
      color: #2c2c54;
      border: 1px solid #ddd;
      border-radius: 1.5rem;

      .rightIcon {
        font-size: 1.25rem;
      }
    }
  }

  .mid {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.85rem;
    .text {
      margin-bottom: 1rem;
    }

    .postImage {
      width: fit-content;
      margin-inline: auto;
      margin-top: 0.5rem;
      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 25rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .left {
      display: flex;
      align-content: center;
      margin-left: 0.5rem;

      .thumbUp {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        color: blue;

        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 2px 2px blue);
          cursor: pointer;
        }
      }
      .like {
        font-size: 1.25rem;
        color: red;
        &:hover {
          filter: drop-shadow(0 2px 2px red);
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .likeMessage {
        margin-left: 0.5rem;
      }

      span {
        font-size: 0.8rem;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        color: #4b4b4a;
        cursor: pointer;
      }
    }
  }
}
