.post {
  margin-bottom: 1.5rem;
  border: 2px solid #706fd3;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 8px #2c2c54e0;
  background-color: white;

  .top {
    display: flex;
    .left {
      .profile {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: rgba(128, 128, 128, 0.541);
        margin-right: 0.5rem;
        cursor: pointer;
      }

      .username {
        font-size: 0.875rem;
        margin-right: 0.6rem;
        font-weight: 600;
        cursor: pointer;
      }

      .time {
        font-size: 0.75rem;
        color: rgb(85, 84, 84);
      }
    }

    .more {
      color: black;
    }
  }

  .mid {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.85rem;
    .text {
      margin-bottom: 1.5rem;
    }

    .postImage {
      width: fit-content;
      margin-inline: auto;
      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 25rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .thumbUp {
      margin-right: 0.5rem;
      color: blue;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 2px 2px blue);
        cursor: pointer;
      }
    }
    .like {
      color: red;
      &:hover {
        filter: drop-shadow(0 2px 2px red);
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    .likeMessage {
      margin-left: 0.5rem;
    }

    span {
      font-size: 0.8rem;
    }
    .right {
      color: black;
    }
  }
}
