.post {
  margin-bottom: 1.5rem;
  border: 2px solid #706fd3;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .user_profile {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2c2c54;

        .profilePic {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }

      .username {
        font-size: 0.875rem;
        margin-right: 0.6rem;
        font-weight: 600;
        cursor: pointer;
      }

      .time {
        font-size: 0.75rem;
        color: rgb(85, 84, 84);
      }
    }

    .right {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background-color: #2c2c5467;
      }

      .more {
        color: black;
      }
    }
  }

  .mid {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.85rem;
    .text {
      margin-bottom: 1rem;
    }

    .postImage {
      width: fit-content;
      margin-inline: auto;
      margin-top: 0.5rem;
      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 25rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .left {
      display: flex;
      align-content: center;

      .thumbUp {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        color: blue;

        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 2px 2px blue);
          cursor: pointer;
        }
      }
      .like {
        font-size: 1.25rem;
        color: red;
        &:hover {
          filter: drop-shadow(0 2px 2px red);
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .likeMessage {
        margin-left: 0.5rem;
      }

      span {
        font-size: 0.8rem;
      }
    }
    .right {
      color: black;

      span {
        font-size: 0.8rem;
      }
    }
  }
}
