.left_section {
  position: sticky;
  top: 3.5rem;
  height: calc(100vh - 3.5rem);
  padding-block: 1rem;
  background-color: #40407a;
  overflow-y: auto;
  font-size: 0.9rem;
  z-index: 3;

  @media (min-width: 480px) and (max-width: 1023px) {
    // width: fit-content;
    padding-right: 0;

    .tag {
      padding: 0;
    }

    span {
      display: none;
    }
  }

  @media (max-width: 767px) {
    top: calc(2.623125rem + 3.5rem);
    height: calc(100vh - 3.5rem - 2.623125rem);
  }

  @media (max-width: 479px) {
    position: fixed;
    top: calc(2.623125rem + 3.5rem);
    width: 10rem;
    left: -10rem;
    transition: all 250ms linear;

    .tag {
      justify-content: flex-start;
    }
  }

  .link_tag {
    text-decoration: none;
  }

  .tag {
    display: flex;
    align-items: center;
    height: 3rem;
    color: white;
    padding-inline: 2rem;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      background-color: #474787;
    }

    @media (min-width: 480px) and (max-width: 1023px) {
      justify-content: center;
      padding-inline: 1.5rem;
    }

    @media (max-width: 900px) {
      padding-inline: 0.875rem;
    }

    span {
      margin-left: 0.8rem;
    }
  }

  &.chatPageLeft {
    @media (min-width: 480px) {
      .tag {
        span {
          display: none;
        }
      }
    }
  }
}
