.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #40407a;

  .wrapper {
    display: flex;
    margin-inline: auto;
    width: 55rem;
    height: 30rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8rem #08080ebe;

    .left {
      display: flex;
      flex: 1.7;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: "Press Start 2P", cursive;
        color: #2c2c54;
        margin-bottom: 1.5rem;
      }
    }

    button {
      width: fit-content;
      min-width: 5rem;
      height: 2.25rem;
      margin-inline: auto;
      padding-inline: 1.25rem;
      padding-block: 0.4rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      border: 2px solid #2c2c54;
      cursor: pointer;

      &:disabled {
        cursor: none;
        opacity: 0.9;
      }

      &:last-of-type {
        margin-block: 0;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      min-height: 90%;
      background-color: #d3cfc7af;
      border-radius: 5px;
    }

    input::placeholder {
      color: #84817a;
    }
  }
}
