.main {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 6fr 4fr;
  max-width: 120rem;
  margin-inline: auto;

  @media (max-width: 1199px) {
    grid-template-columns: 2fr 6fr 3fr;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 0.25fr 6fr 3fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 15fr;
    margin-top: 2.623125rem;
  }

  @media (max-width: 479px) {
    position: relative;
    grid-template-columns: 1fr;
  }
}

.navigation_overlay {
  display: none;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px) contrast(0.5);
  z-index: 3;
}
