.chatDiv {
  display: flex;
  flex: 1.35;
  flex-direction: column;
  background-color: #f5f7fa;
  height: 100%;
  background-color: #bebebeda;

  @media (min-width: 1024px) {
    flex: 2;
  }

  .chat {
    flex: 5;
    margin-block: 1rem 2rem;
    margin-inline: 2rem;
    background-color: #eff2f6;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    height: 100%;
    overflow-y: auto;
    border: 1px solid hsl(210, 9%, 83%);

    .chat_top {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.275rem;
      padding-inline: 0.75rem;
      background-color: rgba(128, 128, 128, 0.856);

      .back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #eff2f6;
        color: #2c2c54;
        cursor: pointer;
        transition: all 200ms ease-in;

        &:hover {
          border: 3px solid #2c2c54;
        }
      }
    }

    .messageContainer {
      display: flex;
      margin-top: 0.875rem;

      .profilePicture {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: white;
        aspect-ratio: 1/1;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        width: 100%;

        .message {
          width: fit-content;
          max-width: 60%;
          height: fit-content;
          border-radius: 0.75rem;
          font-size: 0.8rem;
          padding-block: 0.35rem;
          padding-inline: 0.75rem;
        }

        span {
          font-size: 0.65rem;
          margin-left: 0.5rem;
          margin-top: 0.2rem;
        }
      }
    }

    .info {
      display: block;
      margin-top: 3rem;
      text-align: center;
      font-size: 0.75rem;
      padding: 1rem;
    }
  }

  .friends_message {
    margin-left: 1rem;
    .profilePicture {
      margin-right: 0.75rem;
    }

    div .message {
      background-color: #4867cb;
      color: hsl(203, 100%, 94%);
    }
  }

  .own_message {
    justify-content: flex-end;
    margin-right: 1rem;

    .profilePicture {
      margin-left: 0.75rem;
      order: 2;
    }

    div {
      justify-content: flex-end;

      .message {
        color: hsl(210, 9%, 31%);
        margin-left: auto;
        background-color: #cbad48;
      }

      span {
        text-align: right;
        margin-right: 0.5rem;
      }
    }
  }

  .chatMessage_send {
    flex: 1;
    display: flex;
    align-items: center;
    margin-inline: 2rem 2rem;
    margin-bottom: 2rem;

    textarea {
      padding: 0.875rem;
      resize: none;
      overflow-y: auto;
      font-size: 1rem;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      border: 1px solid hsl(210, 9%, 83%);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;
      border-radius: 0.25rem;
      border: none;
      color: #2c2c54;
      background: none;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);

      &:hover {
        color: white;
        background-color: #2c2c54;
      }
    }
  }
}
