.container_chat {
  width: 100%;
  margin-top: 2.623125rem;
  height: calc(100vh - 6.2rem);

  @media (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    margin: 0;
    height: calc(100vh - 3.5rem);
  }

  @media (min-width: 1024px) {
    display: flex;
    margin: 0;
    height: calc(100vh - 3.5rem);
  }

  .navigation_overlay {
    display: none;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px) contrast(0.5);
    z-index: 2;
  }

  .messenger_intro {
    display: flex;
    flex: 1.35;
    align-items: center;
    justify-content: center;
    background-color: rgba(97, 97, 97, 0.363);

    @media (min-width: 1024px) {
      flex: 2;
    }

    span {
      text-align: center;
      padding: 1rem 3rem;
      color: #2c2c54;
      background-color: rgba(255, 255, 255, 0.301);
      border-radius: 0.5rem;
    }
  }
}
