.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-block: auto;
  height: fit-content;

  form {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1.25fr;
    gap: .75rem;
    width: 75%;
    margin-block: auto;
    margin-inline: auto;
    
    fieldset {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: .75rem;
      border: none;
      
      legend {
        margin-bottom: 0.5rem;
      }
    }
    
    input {
      width: 100%;
      padding-inline: 0.5rem;
      border: none;
      border-bottom: 2px solid #2c2c54;
      background-color: transparent;
      color: #2c2c54;
      
      &:focus {
        outline: none;
      }
    }

    .genderWrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #2c2c54;
      font-size: 0.875rem;

      .gender {
        display: flex;
        width: 50%;
        align-items: center;

        &:first-of-type {
          margin-left: 1rem;
        }

        input {
          margin: 0;
          width: 1.5rem;
        }
      }
    }
  }
}
