.online {
  position: fixed;
  bottom: 0;
  width: 19rem;
  box-shadow: 0 0 5px #2c2c54;
  background-color: #40407a;
  color: white;
  font-size: 0.875rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 1;

  @media (max-width: 1200px) {
    width: 16rem;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: #2c2c54;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    p {
      padding: 1rem;
    }

    .reveal_friends {
      margin-right: 1rem;
      transition: all 200ms cubic-bezier(1, 0, 0, 1);

      &.reveal {
        transform: rotateZ(180deg);
      }
    }
  }

  .friends_online {
    background-color: white;
    border-radius: 5px;
    color: black;
    height: 0;
    overflow-y: auto;
    margin-inline: 0.2rem;
    transition: all 200ms ease-in;

    &.reveal {
      height: 16rem;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &--empty {
      text-align: center;
      padding-block: 0.75rem;
    }

    .friend_div {
      display: flex;
      align-items: center;
      padding-block: 0.7rem;
      margin: 0.25rem;
      padding-inline: 1rem;
      transition: all 200ms linear;

      &:hover {
        background-color: #40407a25;
        border-radius: 5px;
        cursor: pointer;
      }

      .profile_pic {
        position: relative;
        .image {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: #2c2c54;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        .indicator {
          position: absolute;
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          background-color: rgb(0, 197, 0);
          top: 0.1rem;
          right: 0.4rem;
          border: 2px solid white;
        }
      }
    }
  }
}
