@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @media (max-width: 540px) {
    font-size: 0.9rem;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(168, 167, 167, 0.041);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #2a2a5a;
}

::-webkit-scrollbar-track {
  background-color: #2a2a5a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb142;
  border-radius: 3px;

  &:hover {
    background-color: #cc8e35;
  }
}

button {
  font-family: "Poppins", sans-serif;
}
